/*
*
/* 
    Created on : Oct 18, 2017, 4:43:58 PM
    Author     : Christian
*/

.brdpane {
    -fx-background-image: url("../images/FallingLeafBackgroundTesting.png");
    -fx-background-repeat: round;
}

.shinygreen {
    -fx-background-color:
        linear-gradient(#dcf4c5, #d2f1b4),
        radial-gradient(center 50% -40%, radius 200%, #d2f1b4 45%, #b1ee78 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
    -fx-font: 12 georgia;
}

.dullgreen {
    -fx-background-color: 
        linear-gradient(#afd8af, #a3cca3),
        radial-gradient(center 50% -40%, radius 200%, #a3cca3 45%, #8fbc8f 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
}

.leafygreen {
    -fx-background-color: 
        linear-gradient(#afd8af, #a3cca3),
        radial-gradient(center 50% -40%, radius 200%, #c4d8af 45%, #b7d09e 50%);
    -fx-font: 15 georgia;
    -fx-background-radius: 30;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
}

.text-field:focused {
    -fx-border-color: #b1ee78;
}

.radio-button:selected .radio{
    -fx-border-color: #a3cca3;
    -fx-border-radius: 130px;
    -fx-background-color: #9ddb64;
}
